nav{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 25px 60px;
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
    .nav-icon{
        display: none;
    }
    .nav-desc{
        display: flex;
        align-items: center;
        gap: 25px;
        h2{
            color: #000;
            text-align: right;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
        h3{
            color: #FF6464;
            text-align: right;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    }
}
@media (max-width: 600px) {
    nav{
        padding: 18px 45px;
        .nav-desc{
            display: flex;
            align-items: center;
            gap: 15px;
            h2{
                color: #000;
                text-align: right;
                font-size: 17px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
            h3{
                color: #FF6464;
                text-align: right;
                font-size: 17px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }
    }
}
@media (max-width: 480px) {
    nav{
        .nav-desc{
            display: none;
        }
        .nav-icon{
            display: block;
            span{
                color: #000;
                font-size: 22px;
            }
        }
    }
}